* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

body {
  background: radial-gradient(
    166.82% 166.82% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 600px;

  margin: auto;
}
